

html {
  font-size: 100%;
  height: 100%;
}

body {
  background: $white;
  position: relative;
  min-height: 100%;

  @include mq($from: m) {
    display: flex;
    align-items: stretch;
  }
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $grey;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGrey;
}
::selection {
  color: $black;
  background: $lightGrey;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
