
//
// VARIABLES
//

$black: #000;
$darkerGrey: #222;
$darkGrey: #333;
$grey: #666;
$lightGrey: #eee;
$white: #fff;

$mq-breakpoints: (
  xs:  360px,
  s:   480px,
  m:   750px,
  l:   800px,
  xl:  960px,
  xxl: 1024px,
  xxxl: 1280px
);
