.main-header {
  background: $black;
  color: $brand-primary;
}

.main-header__title {
  font-size: 40px;
  color: $grey;
  margin-bottom: 0;
  border: none;
}

.main-header__strapline {
  font-style: italic;
  color: $lightGrey;
}
